In [4]:
s = "kadencho is a dataengineer"

In [5]:
s.endswith("o")

False

In [6]:
s.startswith("a")

False

In [7]:
s.split(" ")

['kadencho', 'is', 'a', 'dataengineer']

In [8]:
s.titlecase()

AttributeError: 'str' object has no attribute 'titlecase'

In [10]:
s.lower()

'kadencho is a dataengineer'

In [11]:
s.upper()

'KADENCHO IS A DATAENGINEER'

In [12]:
a = "   ddd  a"
a.strip()

'ddd  a'

In [15]:
import pandas as pd
df1 = pd.DataFrame(["kadencho", "this", "is 123", "010-7530-9898"], columns=['main'])

In [19]:
df1

            main
0       kadencho
1           this
2         is 123
3  010-7530-9898

In [23]:
df1['main'].str.findall(r'[0-9a-z]+')

0           [kadencho]
1               [this]
2            [is, 123]
3    [010, 7530, 9898]
Name: main, dtype: object

In [25]:
df1['main'].str.extractall(r'[a-z0-9]+')

ValueError: pattern contains no capture groups