# Data is everywhere

> SQL
- Structured Query Language
- MySQL, PostgreSQL. MicrosoftSQL, Oracle, SQLite

> Other DBs
- MongoDB, Redis, CouchBase

# Organizing Data with DB

- Schema :
- Tables : 
- Filter :

# Data Types

- Text, numeric, date ...

- The database schema prescribes what data should og into each column of the table
- To use datatype-related operations like sorting, sum, etc
-

# Tools

# First SQL Statement

- syntax : the vocabulary and grammatical structure of a programming language

- Query

\* to get all data on query 
; to indicate the end of query

> SELECT * FROM [table name];

- it can take too much time ont huge datasets

# Retrieving Specific Columns of Information

# Categorizing Your output with "AS" : alias

- We cannot use whitespace as a categorizing name without quotes

SELECT title AS Title, first_published AS "First Published" FROM books;

SELECT title Title, first_published First_Published FROM books; // available

SELECT title AS Title, first_published AS First_Published FROM books;

# Review