- maximaizing storage
- bettern application functionaliry
- cleaner, richer data for reproting

# Database Normalization

- Database designers go through a great deal of planning to achieve optimal storage and performance while generating the desired context for the data stored in database table

# How normalization helps us

- to minimize overlap in disk (hardware cost)
- easy to change(Data integrity)
-

# Set Theory and Relational Databases

- set operation

- intersect, union, except

# Theoretical Groundwork

- 3 benefits
- normalization
- set theory

# Unique Keys

- no value can be repeated in a column

- can be null
- multiple unique keys per table
- can be modified to a new value

# Primary Keys

- unique
- never be null
- one primary key per table
- cannot be modified to a new value

# Foreign Keys

- Columns Designed Correctly
- foreign key constraint

** Referential Integrity**
- Foreign key values must also exist as a primary key value in the reference table

- http://www.teach-ict.com/as_a2_ict_new/ocr/AS_G061/315_database_concepts/terminology/miniweb/pg13.htm

# One to Many Relationships

> Table Relationship

- one to one
- one to many
- many to many

# Many to Many relationships

- example order & part

make a column that handle the relationship between two column

** junction table **

# One to one Relationships

- better to combine but...

> Scenarios

- boost performance with tables with lots of intrequently used columns
- working with 3rd party databases

# Modeling Table Relationships

![main](img_database.png "main")

# Join queries

- inner & outer

# Inner Join

select mk.MakeName, md.ModelName from make as mk
    inner join model as md on mk.MakeID = md.MakeID where mk.MakeName ="Chevy";

# Outer Join

![main](inner_join.png "main")

![main](left_outer_join.png "main")

SELECT mk.MakeName, count(md.ModelName) as NumberOfModel FROM make AS mk 
  left outer JOIN model AS md ON mk.MakeID = md.MakeID
  group by mk.MakeName;

# Practice

-- Use a JOIN to find out which patrons haven't had any loans. Select their first name and email address.

select pt.first_name, pt.email from patrons as pt 
left join loans as ln on pt.id = ln.id;`

-- Create a report that shows the title of the book, first and last name of the patron, email and all date fields of the loan.


select bk.title, pt.first_name, pt.last_name, pt.email, ln.loaned_on, ln.return_by, ln.returned_on from books as bk 
join loans as ln on bk.id = ln.id 
join patrons as pt on ln.id = pt.id;

# What are Set Operations?

- Union, Union all, intersect, except

- Union also brings two tables in a one set
- But is doesn't use a foreign key relationship at all 
- and it stacks the data
- should match the number of columns

SELECT MakeName FROM Make union SELECT MakeName FROM ForeignMake;

SELECT MakeID, MakeName FROM Make union SELECT ForeignMakeID, MakeName FROM ForeignMake;

SELECT MakeID, MakeName FROM Make 
where MakeName < "D"
union 
SELECT ForeignMakeID, MakeName FROM ForeignMake
where MakeName < "D"
order by MakeName;

query1 union query2

# Union All Operation

- union all will return all of us from each select, even if there are duplicates.

SELECT MakeName FROM Make UNION all SELECT MakeName FROM ForeignMake
order by MakeName;

# Intersect operation

SELECT MakeName FROM Make intersect SELECT MakeName FROM ForeignMake
order by MakeName desc;

# Except Operations

# Review and Practice

# What it subqueries?

- narrowing the result of data returned

- Criteria for a where clause is not specifically known 
- You need a temporary dataset to join with other tables in your database

select [columns]
from [table1]
where column1 in (
    select column1
    from [table2]
    where [search criteria]
);

# Using IN with Subqueries to Filter Data

- one column in a subquery

SELECT * FROM Sale WHERE CarID not IN (select CarID from Car where ModelYear = 2015);

# Using a Subquery to Create a Temporary Table

SELECT * FROM (SELECT * FROM Car WHERE ModelYear = 2015) where CarID < 20;

SELECT * FROM Sale as s
  inner join (SELECT * FROM Car WHERE ModelYear = 2015) as t 
  on s.CarID = t.CarID;

SELECT * FROM Sale as s
  inner join (SELECT CarID, ModelYear FROM Car WHERE ModelYear = 2015) as t 
  on s.CarID = t.CarID;

> part2

-- SELECT <columns> FROM <table 1> WHERE <column 1> <INNER|OUTER> JOIN 
--      (SELECT <column 1>	FROM <table 2>	WHERE <search_criteria>) AS <temporary name> ON <equality criteria>;

-- What is the sum of all sales by rep and location?

SELECT sr.LastName, Loc1.StLouisAmount, Loc2.ColumbiaAmount from SalesRep as sr
  left outer join (
    select SalesRepID, sum(SaleAmount) as StLouisAmount
    from Sale as s where s.LocationID = 1
    group by SalesRepID
) as Loc1 on sr.SalesRepID = Loc1.SalesRepID 
  left outer join (
    select SalesRepID, sum(SaleAmount) as ColumbiaAmount
    from Sale as s where s.LocationID = 2
    group by SalesRepID
) as Loc2 on sr.SalesRepID = Loc2.SalesRepID;

# Practice

select count(title) from (
  select title from books_north
  intersect
  select title from books_south
);

select pt.first_name, pt.email, count(*) from patrons as pt
inner join (
  select * from loans_north
  union 
  select * from loans_south) as ln
  on pt.id = ln.patron_id
  where ln.returned_on is NULL
  group by pt.id;

select ModelName from Model
  where ModelId in (
    select ModelID from Car 
    where StickerPrice > 30000
  );

select * from Sale 
  where CustomerID in (
    select CustomerID from Customer
    where Gender = "F" 
  );

SELECT * FROM Sale AS s 
INNER JOIN (
  SELECT CustomerID FROM Customer
  WHERE Gender = 'F'
) AS c 
ON s.CustomerID = c.CustomerID;