# Intro

- create
- read
- update
- delete

# Adding row to a table

- id(PK), title, author, genre, first_published

insert into books values (18, "1986", "Kaden Cho", "Fiction", 2018);

> Should specify column name to insert NULL value

insert into loans (id, book_id, patron_id, loaned_on, return_by, returned_on)
values (NULL, 2, 4, "2015-12-14", "2015-12-21", NULL);

> Can change the order of column

insert into loans (patron_id, loaned_on, return_by, returned_on, id, book_id)
values (4, "2015-12-14", "2015-12-21", NULL, NULL, 2);

# Adding Multiple Rows to a Table

INSERT INTO books (title, author, genre, first_published) 
VALUES ("The Circle", "Dave Eggers", "Science Fiction", 2013);

INSERT INTO books (title, author, genre, first_published) 
VALUES ("Contact", "Carl Sagan", "Science Fiction", 1985);

INSERT INTO books (title, author, genre, first_published) 
VALUES ("Animal Farm", "George Orwell", NULL, 1945);

> Simplified

INSERT INTO books (title, author, genre, first_published) 
VALUES ("The Circle", "Dave Eggers", "Science Fiction", 2013),
       ("Contact", "Carl Sagan", "Science Fiction", 1985),
       ("Animal Farm", "George Orwell", NULL, 1945);

# Review

# Updating all rows in a table

update [table] set [column] = [value]; = to assign

update patrons set last_name = "Anonymous";
update patrons set first_name = "Kaden", email = "kadencho@gmail.com";

# Updating Specific Rows

update loans set returned_on = "2015-12-18" where patron_id = 1;

# Review

# Deleting

delete from books;

# Removing specific row

- can add BETWEEN, IN, LIKE

delete from books where title like "harry potter%";

# Introduction to transactions

- autocommit blocking by transaction

begin; // or begin transaction;

queries;

commit;

# Rolling back from update

- to undo the transaction we use

begin;
queries;
rollback;

- no change on db because of rollback

# Databases with Frameworks

ORM : 
  - perform CRUD operations with a language other than SQL
  - provides a convenient way for developers to perfrom CRUD operations in their language of choice

** Benefits of an ORM(object-relational mapping) **
- Handle transactions
- one language
- examples : Hibernate, CoreData, Django ORM, ActiveRecord