# Where

SELECT title, author FROM books WHERE first_published = 1997;

select title, author, first_published from books where author = "J.K. Rowling";

- case sensitive

select title, author, first_published from books where author != "J.K. Rowling";

# Filtering by Comparing value

> Operators

- =
- !=
- < \>
-

select * from books where first_published < 1900;

# Filtering on More than one condition

- using AND or OR

SELECT title FROM books WHERE author = "J.K. Rowling" OR first_published < 2000;
SELECT title FROM books WHERE author = "Ernest Cline" OR author = "Andy Weir";

# Filtering by date

select * from results where away_team = "Hessle" and played_on >=  "2015-10-01";

# Searching Within a Set of Values

select first_name, email from patrons where library_id = "MCL1001" or library_id = "MCL1100" or library_id = "MCL1011";

> Simplified

select first_name, email from patrons where library_id in ("MCL1001", "MCL1100", "MCL1011");

select first_name, email from patrons where library_id not in ("MCL1001", "MCL1100", "MCL1011");

# Searching Within Range of Values

select title, author from books where first_published >= 1800 and first_published <= 1899;

> Simplified

select * from books where first_published between 1800 and 1899;

- date available

SELECT * FROM loans WHERE loaned_on BETWEEN "2015-12-13" AND "2015-12-19";

# Finding Data that Matches a Pattern

select title from books where title like "Harry Potter";

** get**
Harry Potter and the Chamber of Secrets
Harry Potter and the Deathly Hallows
Harry Potter and the Goblet of Fire
Harry Potter and the Half-Blood Prince
Harry Potter and the Order of the Phoenix
Harry Potter and the Philosopher's Stone
Harry Potter and the Prisoner of Azkaban

select title from books where title like "%universe%" and genre = "Non Fiction";

# Filtering out or finding missing information

select * from loans where return_by > "2015-12-18" and returned_on is NULL;
select * from loans where return_by > "2015-12-18" and returned_on is not NULL;

# Review