# Overview

> Handling Data

- Ordering : e.g. sorting
- Limiting : e.g. paging
- Manipulating Text : e.g. lowercase or uppercase
- Aggregation : e.g. count values, sum values ...
- Date : date calculation

# Retrieving Results in a Particular Order

SELECT * FROM products ORDER BY stock_count ASC;
SELECT * FROM products ORDER BY stock_count DESC;

select * from customers order by last_name desc, first_name desc;

# Limiting the Number of Results

SELECT * FROM campaigns order by sales desc limit 3;

# Paging through Results

**offset** + skipped number of rows

SELECT * FROM orders LIMIT 50 offset 50;

# What Are Functions?

> Syntax

- Keywords : Data presented unaltered
  - e.g. select, as, from, order by, where, in, between
  
- Operators : Performs comparisons and simple manipulation
  - e.g. =, <, >, <=, >=
  
- Functions : Presents data differently through manipulation
  - e.g. length(), upper(), sum()

UPPER("Kaden Cho");
"KADEN CHO"

# Adding Text Columns Together

** concatenate operator **
- SQL Playground : ||
- Alternative SQL Databases : +, CONCAT()

SELECT  first_name || " " || last_name AS "Full Name", 
        email AS "Email", phone AS "Phone" 
          FROM customers;

# Finding the Length of Text

SELECT username, length(username) as length FROM customers order by length desc limit 1;

# Changing the Case of Text Columns

SELECT * FROM customers WHERE email LIKE "andrew@teamtreehouse.com";

> searching with case-insensitive

SELECT * FROM customers WHERE lower(email) = "andrew@teamtreehouse.com";

SELECT upper(zip) FROM addresses WHERE country = "UK";

# Creating Excerpts From Text

> Substring : substr([value or column], start, length)
- require more than just column name

# Replacing Portions of Text

replace([value or column], [target], [replacement])

SELECT * FROM addresses 
        WHERE REPLACE(state, "California", "CA") = "CA";

# Counting Results

SELECT count(*) FROM customers;

count non null values

select count(*) from products where category = "Clothing";

select count(distinct category) from products;

# Counting Group of Rows

- distinct is used to get the unique values in a column

SELECT category, count(*) as product_count FROM products group BY category;

# Getting the Grand Total

> SUM()

SELECT sum(cost) as total_spend, user_id FROM orders group by user_id order by total_spend desc;

> Using having to make condition on grouped

SELECT sum(cost) as total_spend, user_id FROM orders group by user_id having total_spend > 250 order by total_spend desc;

# Calculating Averages

SELECT avg(cost) FROM orders;

# Getting Min and Max

SELECT AVG(cost) AS average, max(cost) as maximum, min(cost) as minimum 
          FROM orders GROUP BY user_id;

# Performing Math on Numeric Types

- + - \* /

SELECT "Hello";
SELECT 1 + 4;
SELECT 4 + 3;
SELECT 2 * 5;
SELECT 3 * 10;
SELECT 5 / 2;
SELECT 5 / 2.0;
SELECT 5.0 / 2;

> Rounding included

SELECT name, round(price * 1.06, 2) as "Price in Florida" FROM products;

# Differences between databases

> Dates

- Writing Dates
- Functions
- Formatting output

# Creating Up-to-the-Minute Reports

select date('now'); // get 2018-03-08

SELECT * FROM orders where status = "placed" and ordered_on = date('now');

SQLite
To get the current date use: DATE("now")

To get the current time use: TIME("now")

To get the current date time: DATETIME("NOW")

MS SQL
To get the current date use: CONVERT(date, GETDATE())

To get the current time use: CONVERT(time, GETDATE())

To get the current date time: GETDATE()

MySQL
To get the current date use: CURDATE()

To get the current time use: CURTIME()

To get the current date time: NOW()

Oracle and PostgreSQL
To get the current date use: CURRENT_DATE

To get the current time use: CURRENT_TIME

To get the current date time: `CURRENT_TIMESTAMP

# Calculating Dates

- date([time string])
- date([time string], [modifier])

date("2018-03-08", "-7 days");
date("2018-03-08", "-7 months");
date("2018-03-08", "-7 years");
date("2018-03-08", "-1 day");

SELECT COUNT(*) FROM orders where ordered_on between date('now', "-7 days") and date('now', "-1 day") ;

# Formatting Dates For Reporting

> Date Datatypes

- date 2018-03-08
- time 23:12:01
- datetime 2018-03-08 23:12:01

date("2018-03-08 23:12:01") -> "2018-03-08"
time("2018-03-08 23:12:01") -> "23:12:01"

> strftime([format string], [time string], [modifier])

- strftime("%d/%m/%Y", "2018-03-08 23:12:01", "+1 year")


SELECT *, strftime("%d/%m/%Y", ordered_on) AS UK_date FROM orders;