# Sequences

- Sequence
- Iterable

- Iterable : it is a container type of object and we can list out the elements in that object one by one
- So any sequence type is iterable

In [1]:
hash('kaden')

4424811644996833076

- Sequence
- Range
- Hash

- Review : Beware of Concatenations

In [2]:
x = [1, 2]
x + x

[1, 2, 1, 2]

In [13]:
x = 'python'
a = x + x
a

'pythonpython'

In [17]:
id(a[0])

4343436040

In [18]:
id(a[6])

4343436040

In [9]:
x = [[0, 0]]
# mutable in the list
a = x + x
a

[[0, 0], [0, 0]]

In [10]:
id(a[0])

4378862344

In [11]:
id(a[1])

4378862344

# Sequence Types Coding

In [2]:
l = [1, 2, 3]
t = (1, 2, 3)
s = 'python'

In [3]:
l[0]

1

In [4]:
id(l[0])

4483999776

# Mutable Sequence Types

In [5]:
names = ['Eric', 'John']

In [6]:
names

['Eric', 'John']

In [7]:
id(names)

4521942728

In [8]:
names = names + ['Michael']

In [9]:
id(names)

4521942600

In [10]:
ls = ['1', '2']
id(ls)

4521942088

In [11]:
ls.append('3')
id(ls)

4521942088

In [12]:
ls.clear()

In [13]:
id(ls)

4521942088

In [14]:
ls.insert(1, 'kaden')

In [15]:
ls

['kaden']

In [16]:
id(ls)

4521942088

In [17]:
ls.extend(['kaden'])
id(ls)

4521942088

- ls.pop
- ls.remove
- ls.reverse

In [18]:
ls.reverse()
id(ls)

4521942088

In [19]:
id(ls[::-1])

4522080264

# Mutable Sequence Coding

In [20]:
l = [1, 2, 3, 4, 5]
print(id(l))

4522079304

In [21]:
l[0]

1

In [23]:
l[0] = 'a'
l

['a', 2, 3, 4, 5]

In [24]:
id(l)

4522079304