select distinct(sb.name)from SUBJECTS as sb
inner join CLASSES as cl on cl.SUBJECT_ID = sb.ID;

# Counting Students

select count(*) from STUDENTS;b

select * from STUDENTS where LAST_NAME like "A%";

# Calcaulating school Capacity

select sum(CAPACITY) from ROOMS;

# The biggest room

select max(CAPACITY) from ROOMS;

# Subjects in the Big Room

select distinct(NAME) from CLASSES 
join SUBJECTS on CLASSES.SUBJECT_ID = SUBJECTS.ID
where ROOM_ID = 19;

# 8th Grade Teachers

select DISTINCT(TEACHERS.ID), FIRST_NAME, LAST_NAME from TEACHERS
join CLASSES ON TEACHERS.ID = CLASSES.TEACHER_ID
JOIN SUBJECTS ON SUBJECTS.ID = CLASSES.SUBJECT_ID
WHERE SUBJECTS.GRADE = 8;

SELECT DISTINCT(TEACHERS.ID), TEACHERS.FIRST_NAME, TEACHERS.LAST_NAME FROM SUBJECTS
JOIN CLASSES ON SUBJECTS.ID = CLASSES.SUBJECT_ID
JOIN TEACHERS ON TEACHERS.ID = CLASSES.TEACHER_ID
WHERE SUBJECTS.NAME = "Science" AND SUBJECTS.GRADE = 7;

# Elective Teachers

> **You cannot use NULL like this **

SELECT DISTINCT(TEACHERS.ID), TEACHERS.FIRST_NAME, TEACHERS.LAST_NAME 
FROM TEACHERS
JOIN CLASSES ON TEACHERS.ID = CLASSES.TEACHER_ID
JOIN SUBJECTS ON SUBJECTS.ID = CLASSES.SUBJECT_ID
WHERE GRADE = NULL;

select 1 = 0; // GET 0
select 1 = 1; // GET 1
select 1 = NULL; // GET NULL
select NULL = NULL; // GET NULL
select NULL IS NULL; // GET 1

> BELOW WORK

SELECT DISTINCT(TEACHERS.ID), TEACHERS.FIRST_NAME, TEACHERS.LAST_NAME 
FROM TEACHERS
JOIN CLASSES ON TEACHERS.ID = CLASSES.TEACHER_ID
JOIN SUBJECTS ON SUBJECTS.ID = CLASSES.SUBJECT_ID
WHERE GRADE IS NULL;

# Student Schedule

SELECT PERIOD_ID, NAME, SUBJECTS.GRADE FROM STUDENTS
JOIN SCHEDULE ON STUDENTS.ID = SCHEDULE.STUDENT_ID
JOIN CLASSES ON CLASSES.ID = SCHEDULE.CLASS_ID
JOIN SUBJECTS ON SUBJECTS.ID = CLASSES.SUBJECT_ID
WHERE FIRST_NAME = "Rex" AND LAST_NAME = "Rios"
ORDER BY PERIOD_ID ASC;

# A Smelly Issue

-- How many students have Physical Education during first period?

SELECT COUNT(*) FROM STUDENTS
JOIN SCHEDULE ON STUDENTS.ID = SCHEDULE.STUDENT_ID
JOIN CLASSES ON CLASSES.ID = SCHEDULE.CLASS_ID
JOIN SUBJECTS ON SUBJECTS.ID = CLASSES.SUBJECT_ID
WHERE PERIOD_ID = 1 AND NAME = "Physical Education";

# Students A to M

-- Generate a list of students with last names from A to M.

SELECT * FROM STUDENTS
WHERE LAST_NAME >= 'A' AND LAST_NAME < 'N'
ORDER BY LAST_NAME ASC;

# Students by Grade

-- How many students are in each grade? And how many 6th graders do you think they'll have next year?

SELECT GRADE, COUNT(*) FROM STUDENTS
GROUP BY GRADE;

# Predicting the Future

SELECT MIN(CAPACITY) * 7 FROM CLASSES
JOIN SUBJECTS ON SUBJECTS.ID = CLASSES.SUBJECT_ID
JOIN ROOMS ON ROOMS.ID = CLASSES.ROOM_ID
WHERE GRADE = 6

# Busiest Teachers

SELECT TEACHERS.ID, FIRST_NAME, LAST_NAME, COUNT(*) FROM TEACHERS
JOIN CLASSES ON TEACHERS.ID = CLASSES.TEACHER_ID
GROUP BY TEACHERS.ID HAVING COUNT(*) = 7

# Multi-Subject Teachers

SELECT TEACHERS.* FROM TEACHERS
JOIN CLASSES ON TEACHERS.ID = CLASSES.TEACHER_ID
GROUP BY TEACHERS.ID HAVING COUNT(DISTINCT(SUBJECT_ID)) > 1

# Janis's Schedule

-- What class does Janis Ambrose teach during each period? Be sure to include all 7 periods in your report!

SELECT PERIOD_ID, SUBJECTS.NAME FROM TEACHERS
JOIN CLASSES ON TEACHERS.ID = CLASSES.TEACHER_ID
JOIN SUBJECTS ON SUBJECTS.ID = CLASSES.SUBJECT_ID
WHERE TEACHERS.ID = 391;

WITH JANIS_CLASSES AS (
  SELECT PERIOD_ID, SUBJECTS.NAME FROM TEACHERS
  JOIN CLASSES ON TEACHERS.ID = CLASSES.TEACHER_ID
  JOIN SUBJECTS ON SUBJECTS.ID = CLASSES.SUBJECT_ID
  WHERE TEACHERS.ID = 391
)
SELECT * FROM JANIS_CLASSES

-- What class does Janis Ambrose teach during each period? Be sure to include all 7 periods in your report!

WITH JANIS_CLASSES AS (
  SELECT PERIOD_ID, SUBJECTS.NAME FROM TEACHERS
  JOIN CLASSES ON TEACHERS.ID = CLASSES.TEACHER_ID
  JOIN SUBJECTS ON SUBJECTS.ID = CLASSES.SUBJECT_ID
  WHERE TEACHERS.ID = 391
)
SELECT PERIODS.ID, JANIS_CLASSES.NAME FROM PERIODS 
LEFT OUTER JOIN JANIS_CLASSES ON PERIODS.ID = PERIOD_ID

# Least Popular Subject

SELECT SUBJECTS.NAME, COUNT(*) FROM SUBJECTS
JOIN CLASSES ON SUBJECTS.ID = CLASSES.SUBJECT_ID
JOIN SCHEDULE ON CLASSES.ID = SCHEDULE.CLASS_ID
GROUP BY SUBJECT_ID ORDER BY COUNT(*) ASC

-- Which subject is the least popular, and how many students are taking it?

WITH SUBJECTS_COUNTS AS (
  SELECT SUBJECTS.NAME, COUNT(*) 'CT' FROM SUBJECTS
  JOIN CLASSES ON SUBJECTS.ID = CLASSES.SUBJECT_ID
  JOIN SCHEDULE ON CLASSES.ID = SCHEDULE.CLASS_ID
  GROUP BY SUBJECT_ID
)
SELECT NAME, MIN(CT) FROM SUBJECTS_COUNTS

# Finding the Troublemaker

-- Which students have 5th period science and 7th period art?

WITH FIFTH_SCIENCE AS (
  SELECT STUDENT_ID FROM STUDENTS 
  JOIN SCHEDULE ON STUDENTS.ID = SCHEDULE.STUDENT_ID
  JOIN CLASSES ON CLASSES.ID = SCHEDULE.CLASS_ID
  JOIN SUBJECTS ON SUBJECTS.ID = CLASSES.SUBJECT_ID
  WHERE PERIOD_ID = 5 AND SUBJECTS.NAME = "Science"
), SEVENTH_ART AS (
  SELECT STUDENT_ID FROM STUDENTS 
  JOIN SCHEDULE ON STUDENTS.ID = SCHEDULE.STUDENT_ID
  JOIN CLASSES ON CLASSES.ID = SCHEDULE.CLASS_ID
  JOIN SUBJECTS ON SUBJECTS.ID = CLASSES.SUBJECT_ID
  WHERE PERIOD_ID = 7 AND SUBJECTS.NAME = "Art"
)
SELECT C.* FROM FIFTH_SCIENCE A
JOIN SEVENTH_ART B ON A.STUDENT_ID = B.STUDENT_ID 
JOIN STUDENTS C ON A.STUDENT_ID = C.ID

# Most Popular Teacher

-- Which elective teacher is the most popular (teaches the most students)?

WITH ELECTIVE_TEACHERS AS (
  SELECT DISTINCT TEACHERS.ID
  FROM TEACHERS
  JOIN CLASSES ON TEACHERS.ID = CLASSES.TEACHER_ID 
  JOIN SUBJECTS ON CLASSES.SUBJECT_ID = SUBJECTS.ID
  WHERE GRADE IS NULL
), STUDENTS_COUNTS AS (
  SELECT ELECTIVE_TEACHERS.ID, COUNT(*) 'CT'
  FROM ELECTIVE_TEACHERS
  JOIN CLASSES ON ELECTIVE_TEACHERS.ID = CLASSES.TEACHER_ID
  JOIN SCHEDULE ON CLASSES.ID = SCHEDULE.CLASS_ID
  GROUP BY ELECTIVE_TEACHERS.ID
)
SELECT MAX(STUDENTS_COUNTS.CT), TEACHERS.FIRST_NAME, TEACHERS.LAST_NAME
FROM STUDENTS_COUNTS
JOIN TEACHERS ON STUDENTS_COUNTS.ID = TEACHERS.ID

# Bus Trouble

-- Which teachers don't have a class during 1st period?
SELECT TEACHERS.* FROM TEACHERS
EXCEPT
SELECT TEACHERS.* FROM TEACHERS
JOIN CLASSES ON TEACHERS.ID = CLASSES.TEACHER_ID
WHERE PERIOD_ID = 1

** Common Table Expressions (CTE)  **

WITH name AS {query}