In [1]:
a, b, c = (1, 2, 3)

In [2]:
1, 2, 3

(1, 2, 3)

In [3]:
# comma makes tuple

In [6]:
type((1))

int

In [7]:
type((1,))

tuple

In [10]:
1,

(1,)

In [11]:
type(1,)

int

In [12]:
d = {'key1':1, 'key2':2, 'key3':3}
a, b, c = d

In [13]:
a

'key1'

In [14]:
a = (1, 2, 3)

In [15]:
a

(1, 2, 3)

In [16]:
type(a)

tuple

In [17]:
a = 1,

In [18]:
type(a)

tuple

In [19]:
k = 1, 2, 3

In [20]:
type(k)

tuple

In [21]:
k = 1, 2, 3,

In [22]:
k

(1, 2, 3)

In [23]:
l = [1, 2, 3, 4]
a, *b = l

In [24]:
b

[2, 3, 4]

In [25]:
t = (1, 2, 3, 4)
a, *b = t

In [27]:
# get a list
b

[2, 3, 4]

In [28]:
a, *b, c = t

In [29]:
b

[2, 3]

In [30]:
c

4

In [31]:
s = {10, -99, 3, 'd'}
print(s)

{'d', 10, 3, -99}

In [32]:
a, *b = s

In [34]:
# no order
b

[10, 3, -99]

In [35]:
d1 = {'p': 1, 'y': 2}
d2 = {'t': 3, 'h': 4}
d3 = [*d1, *d2]

In [36]:
d3

['p', 'y', 't', 'h']

In [37]:
{**d1, **d2}

{'p': 1, 'y': 2, 't': 3, 'h': 4}

In [38]:
a, b, [c, d] = [1, 2, [3, 4]]

In [39]:
c, d

(3, 4)

In [40]:
a, b, c = 'XYZ'

In [41]:
b

'Y'

In [42]:
a, *b, (c, *d) = [1, 2, 3, 'python']

In [43]:
c

'p'

In [44]:
d

['y', 't', 'h', 'o', 'n']

In [45]:
*c = 'python'

SyntaxError: starred assignment target must be in a list or tuple (<ipython-input-45-b5998813978b>, line 4)

In [46]:
a, *b, *c = [1, 2, 3, 4, 5]

SyntaxError: two starred expressions in assignment (<ipython-input-46-4260eb795d4d>, line 4)

In [ ]:
a